<%= render "layouts/navbar" %>

<div class="container">
  <h1 class="d-flex justify-content-center mt-2">Mes bookings</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @bookings.each do |booking| %>
      <div class="col">
        <div class="card border-dark" style="width: 18rem; border-radius: 8px;">
          <%= image_tag booking.instrument.picture, height:250, class:"card-img-top; border-bottom", style:"border-top-left-radius: 8px; border-top-right-radius: 8px;" %>
          <div class="mx-2">
            <p><%=  booking.instrument.name %></p>
            <p>Statut de votre booking : <%=booking.status%></p>
            <p>Date de début : <%= booking.start_date %></p>
            <p>Date de fin : <%= booking.end_date %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h1 class="d-flex justify-content-center mt-2">Mes Instruments</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @instruments.each do |instrument| %>
      <div class="col">
        <div class="card border-dark" style="width: 18rem; border-radius: 8px;">
          <%= image_tag instrument.picture, height:250, class:"card-img-top; border-bottom", style:"border-top-left-radius: 8px; border-top-right-radius: 8px;" %>
          <div class="card-body">
            <h5 class="card-title fw-bold"><%= instrument.name %></h5>
            <p class="card-text"><%= instrument.description %></p>
            <p class="card-text"><%= "#{instrument.price}€" %></p>
            <div class="d-flex justify-content-end">
              <div>
                <%= link_to 'Voir', instrument_path(instrument), :class => "btn btn-secondary me-2", :style => "border-radius: 6px;" %>
                <%= link_to 'Editer', edit_instrument_path(instrument), :class => "btn btn-secondary", :style => "border-radius: 6px;" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "layouts/footer" %>
