<%= render "navbar" %>
<div class="container d-flex justify-content-center">
<div class="card border-dark" style="width: 18rem; border-radius: 8px;">
            <%= image_tag @instrument.picture, height:250, class:"card-img-top; border-bottom", style:"border-top-left-radius: 8px; border-top-right-radius: 8px;" %>
            <div class="card-body">
              <h5 class="card-title fw-bold"><%= @instrument.name %></h5>
              <p class="card-text"><%= @instrument.description %></p>
              <p class="card-text"><%= "#{@instrument.price}€" %></p>
              <div class="d-flex justify-content-end">
              <div>
                <%= link_to 'Louer', "#", :class => "btn btn-secondary", :style => "border-radius: 6px;" %>
                <%= link_to 'Editer', edit_instrument_path(@instrument), :class => "btn btn-secondary", :style => "border-radius: 6px;" %>
                <%= link_to 'X', "#", :class => "btn btn-secondary", :style => "border-radius: 6px;" %>

              </div>
              </div>
            </div>
</div>
</div>
<%= render "footer" %>
