<h1><%= @instrument.name %></h1>

<div id="instrument">
  <%= render @instrument %>
  <p>
    <%= link_to 'Edit', edit_instrument_path(@instrument) %>
    <%= link_to 'Delete', instrument_path(@instrument), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to "Back to list", instruments_path %>
  </p>
</div>
